# Godot 4+ specific ignores
.godot/
/android/

# Ignore assets for space concerns
assets/
assets.7z

# Ignore DD3D examples
examples_dd3d/

# Ignore DD3D libs
addons/debug_draw_3d/libs/

# Ignore tmp files
**.tmp
